@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px;
}

.body {
    color: #3D3D3D;
    font-family: 'Cera Pro', "Tahoma", sans-serif;
}

.header {
    display: flex;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding-top: 14px;
}

.logo:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    gap: 18px;
}

.menu > li {
    list-style: none;
    margin-right: 33px;
    position: relative;

}

.menu > li > a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 3px solid transparent;
}

.menu > li > a:hover {
    border-bottom: 3px solid #46A358;
    transition: 0.3s;
}

.menu > li > ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: #EDF6EE;
    top: 60px;
    left: 0;
    width: 188px;
    
}

.menu > li:hover > ul {
    display: block;
    transition: 0.3s;
}


.menu > li > ul::before {
    content: '';
    width: 100%;
    height: 62px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -62px;
}

.menu > li > ul > .priming-dropdown-menu {
    background-image: url(../image/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 17px center;
}

.menu > li > ul > .priming-dropdown-menu:hover {
    background-image: url(../image/arrow-hower.svg);
    transition: 0.3s;
}

.menu > li > ul > li > a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #3D3D3D;
    padding: 7px 0 8px 14px;
    padding-right: 100%;
}

.menu li ul .priming-dropdown-menu a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    width: 178px;
    height: 35px;
    position: relative;
}


.menu > li > ul > li:hover > a {
    color: #FFF;
    font-weight: bold;
    transition: 0.3s;
}

.menu > li > ul > li:hover {
    background-color: #1A712A;
    transition: 0.3s;
}

.menu > li:hover > a {
    border-bottom: 3px solid #46A358;
    color: #1A712A;
    transition: 0.3s;
}

.menu > li > ul > li > ul {
    position: absolute;
    list-style: none;
    width: 178px;
    background-color: #EDF6EE;
    padding: 0;
    right: -178px;
    top: 0px;
    display: none;

}

.menu > li > ul > li > ul > li:hover a {
    background-color: #1A712A;
    color: #FFF;
    font-weight: bold;
    transition: 0.3s;

}

.menu > li > ul > li:hover ul {
    display: block;
}

.menu li > ul > li > ul > li > a {
    text-decoration: none;
    color: #3D3D3D;
}

.header-btn {
    display: flex;
    align-items: center;
    
}

.header-btn button {
    border: transparent;
    background-color: #fff;
    cursor: pointer;
}

.header-btn a {
    text-decoration: none;
}

.lupa {
    margin-right: 31px;
}

.lupa:hover path {
    fill: #46A358;
    transition: 0.3s;
}

.cart {
    position: relative;
    margin-right: 34px;
    margin-bottom: 4px;    
}

.cart:hover path {
    fill: #46A358;
    transition: 0.3s;
}

.count {
    display: flex;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    background-color: #46A358;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 2px;
    right: -2px;

}

.header-btn .login {
    padding: 9px 19px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 6px;
}

.header-btn .login:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.login div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 61px;
}



.lets-section {
    margin-top: 12px;
    display: flex;
    background-color: #FBFBFB;
}

.lets-box {
    width: 59.333%;
}

.lets-text {
    margin: 66px 0px 85px 43px;
}

.welcome {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.lets-text h1 {
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: -2px;
}

.lets-text span {
    color: #46A358;
}

.we-are {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 44px;
}

.shop-now {
    border-radius: 6px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 27px 10px 22px;
    flex-shrink: 0;
    border: transparent;
    cursor: pointer;
}

.shop-now:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.lets-img {
    width: 40%;
}


.section-goods {
    display: flex;
    margin-top: 41px;
    margin-left: -10px;
    margin-right: -10px;
}

.list-box {
    width: 25%;
    padding: 0 10px;
}
.list {
    padding-right: 22px;
    padding-left: 16px;
    background-color: #FBFBFB;
    padding-top: 14px;
}

.list li {
    list-style: none;
}

.list ul {
    margin-left: 11px;
    padding: 0;
}

.list p {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
}

.list a {
    color: #4E4C4C;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.list a:hover {
    color: #46A358;
    font-size: 15px;
    line-height: 40px;
    transition: 0.3s;
}

.checkbox-box {
    background-color: #FBFBFB;
    padding: 46px 22px 17px 16px;
}

.checkbox-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.checkbox-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 40px;
}

.checkbox-text:hover {
    color: #46A358;
    transition: 0.3s;
}

.checkbox-text::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #3D3D3D;
    background-color: #FFF;
    border-radius: 3.5px;
    margin: 15px 11px;
}

.checkbox-number1 {
    padding-left: 130px;
}

.checkbox-number2 {
    padding-left: 117px;
}

.checkbox-number3 {
    padding-left: 135px
}

.checkbox-input:checked + .checkbox-text::before {
    background-image: url(../image/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sale-img {
    width: 100%;
}

.goods-box {
    width: 75%;
    padding: 0 10px;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.menu-goods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;

}

.goods-btn-box button {
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    border: transparent;
    border-bottom: 2px solid transparent;
    background-color: #fff;
    cursor: pointer;
}

.goods-btn-box {
    display: flex;
}

.menu-goods .goods-btn {
    padding-bottom: 7px;
    margin-right: 40px;
    padding-left: 2px;
}

.menu-goods .goods-btn:hover {
    border-bottom: 2px solid #46A358;
    color: #46A358;
    transition: 0.3s;
}

.sorting-box {
    display: flex;
    width: 204px;
    justify-content: end;
    align-items: baseline;
}

.default-sorting {
    font-family: 'Cera Pro';
    margin-right: 10px;
    color: #3D3D3D;
}

.sorting:hover .default-sorting {
    color: #46A358;
    transition: 0.3s;
}

.sorting:hover path {
    stroke: #46A358;
    transition: 0.3s;
}

.sorting {
    gap: 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    margin-left: 5px;
    color: #3D3D3D;
    line-height: 16px;
}

.goods {
    display: flex;
    flex-flow: wrap;
    margin: 0 -10px;
    
}

.item {
    width: 33.333%;
    padding: 0 10px;
}

.item-inset {
    width: 285px;
    margin-bottom: 70px;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.item-inset:hover {
    border-top: 1px solid #46A358;
    opacity: 0.8;
    transition: 0.3s;
}

.goods-bg {
    background-color: #FBFBFB;
    width: 285px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.goods-hover {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 7px;
    width: 134px;
    justify-content: space-between ;
    display: none;
}

.goods-hover button {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    border: transparent;
    cursor: pointer;
}

.goods-bg:hover .goods-hover {
    display: flex;
    transition: 0.3s;  
}

.goods-hover button:hover path {
    fill: #46A358;
    transition: 0.3s;
}


.off13 {
    width: 80px;
    height: 29px;
    flex-shrink: 0;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    left: 0px;

}

.goods img {
    height: 270px;
    width: 250px;
}

.goods h3 {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
}

.item-inset:hover h3 {
    color: #46A358;
    transition: 0.3s;
}

.goods p {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 6px;
}

.paginator-box {
    display: flex;
    width: 905px;
    justify-content: end;
    margin-top: 19px;
}

.paginator {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    display: flex;   
    text-align: center;
}

.paginator a {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    text-decoration: none;
    color: #3D3D3D;
    margin-left: 10px;
}

.paginator a:hover {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    background-color: #46A358;
    border-color: #46A358;
    transition: 0.3s;
}

.paginator a:hover path {
    stroke: #FFF;
    transition: 0.3s;
}

.goods-info {
    display: flex;
    margin: 0 -10px;
    margin-top: 100px;

}

.goods-info-item {
    width: 50%;
    padding: 0 10px;
}


.goods-info-item-inset1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    background-color: #FBFBFB;
    background-image: url(../image/goods-info-img1.png);
    background-repeat: no-repeat;
    padding: 62px 20px 61px;
    align-items: flex-end;


}

.goods-info-item-inset2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    background-color: #FBFBFB;
    background-image: url(../image/goods-info-img2.png);
    background-repeat: no-repeat;
    padding: 62px 20px 61px;
    align-items: flex-end;


}

.goods-info-title {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.goods-info-text {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 21px;
}

.goods-info-btn {
    font-family: 'Cera Pro';
    background-color: #46A358;
    border-radius: 6px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 11px 47px 10px 29px;
    background-image: url(../image/find-more-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 27px;
    cursor: pointer;
}

.goods-info-btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.our-blog {
    margin-top: 129px;
}

.our-blog-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    padding-left: 18px;
}

.our-blog-text {
    color: #727272;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 32px;
}


.our-blog-box {
    display: flex;
    margin: 0 -10px;
}

.our-blog-item {
    width: 25%;
    padding: 0 10px;
}

.our-blog-item-inset {
    background-color: #FBFBFB;
    width: 100%;
    height: 362px;

}
.our-blog-item-box {
    padding: 9px 15px 17px 15px;
}

.our-blog-item-date {
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.our-blog-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 5px;
}

.our-blog-item-text {
    color: #727272;
    font-size: 14px;
    line-height: 22px;
    margin-top: 1px;
}

.our-blog-item-btn {
    border: none;
    color: #3D3D3D;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 23px 2px 0;
    cursor: pointer;
    font-family: "Cera Pro";
}

.our-blog-item-btn::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9' fill='none'%3E%3Cpath d='M0.711426 4.37751C0.711426 4.14172 0.909715 3.94685 1.16698 3.91601L1.2385 3.91175L11.78 3.91175C12.0711 3.91175 12.3071 4.12028 12.3071 4.37751C12.3071 4.6133 12.1088 4.80817 11.8515 4.83901L11.78 4.84326L1.2385 4.84326C0.947406 4.84326 0.711426 4.63474 0.711426 4.37751Z' fill='currentColor'/%3E%3Cpath d='M7.15665 0.966403C6.95037 0.784908 6.94965 0.49001 7.15504 0.30773C7.34176 0.142022 7.63454 0.126433 7.84121 0.261329L7.90044 0.306312L12.1522 4.04724C12.3403 4.21273 12.3574 4.47238 12.2035 4.655L12.1522 4.70731L7.90047 8.44886C7.69421 8.63037 7.36048 8.62976 7.15507 8.4475C6.96834 8.2818 6.95193 8.02302 7.10546 7.84097L7.15661 7.78882L11.0331 4.3771L7.15665 0.966403Z' fill='currentColor'/%3E%3C/svg%3E");
    margin-left: 10px;
}

.our-blog-item-btn:hover {
    color: #46A358;
    transition: 0.3s;
}

.our-blog-item-img {
    max-width: 100%;
}


.about-shop-container {
    display: flex;
    margin-top: 102px;
    background-color: #FBFBFB;
    padding: 23px 0 24px 0;
}

.about-shop-box1 {
    width: 66.666%;
}

.about-shop-item-box {
    display: flex;
    align-items: center;
}

.about-shop-item {
    width: 200px;
    margin-right: 54px;
}

.about-shop-item-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.about-shop-item-text {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.about-shop-box2 {
    width: 33.333%;
}

.join-box {
    padding-left: 13px;
}

.join-box-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 12px;
}

.join-box-input {
    width: 270px;
    height: 40px;
    background-color: #fff;
    border: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.join-box-input::placeholder {
    color: #ACACAC;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-self: center;
    padding-left: 11px;
}

.join-box-btn {
    border-radius: 0px 6px 6px 0px;
    background-color: #46A358;
    border: transparent;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    padding: 12px 17px 12px 34px;
    cursor: pointer;
}

.join-box-btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.join-form {
    display: flex;
    margin-top: 18px;
    align-items: center;
}

.join-box-text {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 17px;
}

.contacts {
    background-color: rgba(70, 163, 88, 0.10);
    display: flex;
    align-items: center;
    border: 1px solid rgba(70, 163, 88, 0.1);
}

.contacts-logo {
    padding: 27px 0;
    margin-left: 160px;
    margin-right: 113px;
}

.contacts-logo:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.location {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    margin-right: 71px;
    margin-left: 12px;
    padding-top: 4px;

}

.location:hover {
    color: #46A358;
    opacity: 0.8;
    transition: 0.3s;
}

.email {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    margin-right: 62px;
    margin-left: 10px;
}

.email:hover {
    color: #46A358;
    opacity: 0.8;
    transition: 0.3s;
}

.phone {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    margin-left: 8px;
}

.phone:hover {
    color: #46A358;
    opacity: 0.8;
    transition: 0.3s;
}

.footer {
    background-color: #FBFBFB;
    display: flex;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.footer-menu {
    width: 66.666%;
    display: flex;
    padding-top: 33px;
    padding-bottom: 27px;
}


.my-acc {
    display: flex;
    flex-direction: column;
    margin-right: 155px;
}

.my-acc-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 6px;
}

.my-acc-link {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

.my-acc-link:hover {
    color: #46A358;
    opacity: 0.8;
    transition: 0.3s;
}

.help {
    display: flex;
    flex-direction: column;
    margin-right: 128px;
}

.footer-catigories {
    display: flex;
    flex-direction: column;
}

.footer-media {
    width: 33.333%;
    padding-top: 32px;
}

.social-media {
    margin-bottom: 27px;
    padding-left: 12px;
}

.social-media-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 20px;
}

.social-media-link {
    text-decoration: none;
    margin-right: 4px;
}

.social-media-link:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.payment {
    padding-left: 12px;
}

.payment-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 13px;
}

.payment-img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.greenshop2021 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 7px;
    justify-self: center;
}
















