* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.body {
    color: #3D3D3D;
    font-family: Tahoma sans-serif;
}

.header {
    display: flex;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 33px;
}

.menu a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 28px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

.header-btn {
    display: flex;
    align-items: center;
    
}

.header-btn button {
    border: transparent;
    background-color: #fff;
    margin-left: 30px;
    cursor: pointer;
}

.header-btn a {
    text-decoration: none;
}

.header-btn .login {
    padding: 7px 17px 7px 17px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.login div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.lets-section {
    margin-top: 12px;
    display: flex;
    background-color: #FBFBFB;
}

.lets-box {
    height: 450px;
    width: 713px;
}

.lets-text {
    margin: 60px 0px 85px 43px;
}

.welcome {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.lets-text h1 {
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.lets-text span {
    color: #46A358;
}

.lets-text p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 44px;
}

.lets-text button {
    border-radius: 6px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 26px 10px 26px;
    flex-shrink: 0;
    border: transparent;
}

.lets-img {
    width: 487px;
    height: 450px;
    background-image: url(../image/flower.png);
    display: flex;
    align-items: end;
}

.flower {
    width: 135px;
    height: 135px;
    margin: 0 0 17px 35px;
}

.section-goods {
    display: flex;
    margin-top: 46px;
}

.list-box {
    background-color: #FBFBFB;
    width: 285px;
    /* height: 1224px; */
}
.list {
    margin: 14px 0 0 0;
    padding-right: 22px;
    padding-left: 16px;
}

.list li {
    list-style: none;
}

.list ul {
    margin-left: 11px;
    padding: 0;
}

.list p {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
}

.list a {
    color: #4E4C4C;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.list a:hover {
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

.goods-box {
    width: 915px;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.menu-goods {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.menu-goods button {
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    border: transparent;
    border-bottom: 2px solid transparent;
    background-color: #fff;
    cursor: pointer;
}

.menu-goods .goods-btn {
    padding-bottom: 7px;
    margin-right: 40px;
}

.menu-goods .goods-btn:hover {
    border-bottom: 2px solid #46A358;
}

.sorting {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.goods {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-left: 20px;
    
}

.goods article {
    width: 285px;
    /* height: 350px; */
    margin-bottom: 70px;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.goods article:hover {
    border-top: 1px solid #46A358;
}

.goods-bg {
    background-color: #FBFBFB;
    width: 285px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods img {
    height: 270px;
    width: 250px;
}

.goods h3 {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
}

.goods p {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 6px;
}

.paginator-box {
    display: flex;
    width: 895px;
    justify-content: end;
}

.paginator {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    display: flex;   
    text-align: center;
}

.paginator a {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    text-decoration: none;
    color: #3D3D3D;
    margin-left: 10px;
}

.paginator a:hover {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    background-color: #46A358;
    border-color: #46A358;;

}







