@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body.menu-open {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.gradient-text {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-gradient {
  background: url(../img/h-bg.svg) center top, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat;
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.bg-gradient::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.bg-gradient::before {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.header__top {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.header__adress, .header__fb {
  display: none;
}
.header__lang {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.header__lang a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 7px;
}
.header__lang a.active {
  border-radius: 8px;
  background-color: #F0145A;
}
.header__phone {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  background-image: url(../img/hamburger.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header.active .header__list {
  right: 0;
}
.header__list {
  position: fixed;
  width: 100%;
  right: -100%;
  top: 100px;
  padding: 12px;
  list-style: none;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1000;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  border-radius: 12px;
}
.header__list a {
  text-decoration: none;
  color: #24A3FF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background-color: #F5F5FA;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__list a:hover {
  background-color: #E6E6F0;
}
.header__list a.active {
  color: #F0145A;
}
.header__list li:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
    padding-top: 50px;
  }
  .header__adress, .header__fb {
    display: block;
  }
  .header__adress {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6px;
  }
  .header__adress::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    display: block;
    margin-right: 6px;
  }
  .header__adress::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    display: block;
    margin-left: 6px;
  }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 6px;
  }
  .header__phone::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    display: block;
    margin-left: 6px;
  }
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__logo img {
    width: 130px;
    height: 60px;
  }
  .header__btn {
    display: none;
  }
  .header__list {
    position: static;
    width: 100%;
    right: -100%;
    top: 0;
    padding: 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 0;
  }
  .header__list a {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 15px;
  }
  .header__list a:hover {
    background-color: #F0145A;
  }
  .header__list a.active {
    color: #FFF;
  }
  .header__list_about a {
    color: #24A3FF;
  }
  .header__list_about a.active {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
    border-radius: 0;
  }
  .header__adress_about {
    color: #B3B3BA;
  }
  .header__adress::after {
    background-color: #B3B3BA;
  }
  .header__adress::before {
    background-color: #B3B3BA;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 1fr auto;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header__top {
    grid-column: 2/-1;
  }
  .header__logo {
    grid-row: 1/-1;
  }
  .header__list li:not(:last-child) {
    margin-bottom: 0px;
  }
  .header__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__list a {
    margin-right: 0;
    margin-left: 15px;
  }
}
.header__lang_about a {
  color: #B3B3BA;
}
.header__lang_about a.active {
  color: #fff;
}
.header__btn_about {
  background-image: url(../img/hamburger-about.svg);
}
.header.active .header__btn_about {
  background-image: url(../img/close.svg);
}
.header__phone_about {
  color: #B3B3BA;
}
.header__logo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323264;
  font-size: 20px;
  font-weight: 400;
}
.header__logo span::before {
  content: "";
  background-image: url(../img/slash.svg);
  width: 12px;
  height: 26px;
}

.you-legal {
  margin-top: 129px;
}
.you-legal__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #FFF;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 159px;
}
.you-legal__btn {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #FFF;
}
.you-legal__btn:hover svg {
  color: #F0145A;
}

@media (min-width: 768px) {
  .you-legal {
    margin-top: 289px;
  }
  .you-legal__title {
    margin-bottom: 417px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider-box {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider-box__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-box__categories {
  color: #B3B3BA;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}
.slider-box__text-box {
  margin-top: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}
.slider-box__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.slider-box__text {
  color: #FFF;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.57em;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .slider-box__text-box {
    margin-top: 60px;
  }
  .slider-box__title {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .slider-box__pc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-box__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 60px;
  }
  .slider-box__text-box {
    margin-top: 0;
    border-top: 0;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
    padding-left: 60px;
  }
  .slider-box__title {
    margin-top: 0;
  }
  .slider-box__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services {
  margin-top: 30px;
  padding-bottom: 60px;
}
.services__link {
  text-decoration: none;
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services__title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  margin-bottom: 30px;
}
.services__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__item div {
  width: 92px;
  height: 92px;
  background-color: #FFF;
  padding: 14px;
  border-radius: 24px;
}
.services__item span {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
}
.services__item p {
  color: var(--Basic-White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62em;
}

@media (min-width: 768px) {
  .services {
    margin-top: 60px;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services__box {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 992px) {
  .services__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.slider-man {
  margin-top: 50px;
}
.slider-man__text-box {
  padding: 30px;
}
.slider-man__inset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EDEDF7;
}
.slider-man__inset img {
  max-width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px 12px 0 0;
}
.slider-man__inset a {
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.slider-man__inset h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 30px;
}
.slider-man__inset p {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.slider-man__inset span {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57em;
}
.slider-man__dots {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-man__dots li {
  margin: 0 7px;
}
.slider-man__dots li.slick-active button {
  opacity: 1;
}
.slider-man__dots button {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  opacity: 0.2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}

@media (min-width: 768px) {
  .slider-man__inset h3 {
    font-size: 38px;
  }
}
@media (min-width: 992px) {
  .slider-man__inset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider-man__inset img {
    width: 400px;
  }
}
.partners {
  margin-top: 60px;
}
.partners__title {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.partners__box {
  display: grid;
  grid-template-columns: 1fr;
}
.partners__pic1 {
  background-color: #1C4280;
  background-image: url(../img/partner1.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic2 {
  background-color: #143646;
  background-image: url(../img/partner2.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic3 {
  background-color: #F48B30;
  background-image: url(../img/partner3.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic4 {
  background-color: #9E4DC3;
  background-image: url(../img/partner4.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic5 {
  background-color: #FD9339;
  background-image: url(../img/partner5.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic6 {
  background-color: #E2E2E4;
  background-image: url(../img/partner6.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic7 {
  background-color: #C71C36;
  background-image: url(../img/partner7.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic8 {
  background-color: #DCF3F9;
  background-image: url(../img/partner8.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic9 {
  background-color: #EAEAEA;
  background-image: url(../img/partner9.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic10 {
  background-color: #282240;
  background-image: url(../img/partner10.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic11 {
  background-color: #1D4568;
  background-image: url(../img/partner11.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}
.partners__pic12 {
  background-color: #000000;
  background-image: url(../img/partner12.png);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-none {
  display: none;
}

@media (min-width: 500px) {
  .partners__box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .mobile-none {
    display: block;
  }
  .partners__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .partners__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.publications {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
}
.publications__link {
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.publications__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 30px;
}
.publications__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.publications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.publications__text-box {
  padding: 30px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}
.publications__text-box h3 {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.publications__text-box span {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.publications__text-box div {
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin: 15px 0;
}
.publications__text-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57em;
}
.publications__pic1 {
  max-width: 100%;
}
.publications__pic2 {
  max-width: 100%;
}
.publications__pic3 {
  max-width: 100%;
}

@media (min-width: 768px) {
  .publications__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }
  .publications__item3 {
    grid-column: 1/3;
  }
}
@media (min-width: 992px) {
  .publications__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .publications__item3 {
    grid-column: 3;
  }
}
.footer {
  background-color: #F5F5FA;
}
.footer__box {
  padding: 30px 0;
  border-top: 2px solid #E6E6F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress {
  color: #323264;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer__map {
  color: #24A3FF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer__tel {
  color: #46466E;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 10px 0;
}
.footer__mail {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 30px;
}
.footer__company {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer__box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: -webkit-max-content -webkit-min-content;
    grid-template-rows: max-content min-content;
  }
  .footer__company {
    grid-column: 3;
    grid-row: 1;
  }
  .footer__adress {
    margin: 0;
  }
  .footer__adress::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    margin: 0 6px;
  }
  .footer__map {
    margin: 0;
  }
  .footer__tel {
    margin: 0;
  }
  .footer__mail {
    margin: 0;
  }
}
.merits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.merits__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.merits__text-box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.merits__text-box p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.57em;
}
.merits__text-down {
  margin-top: 30px;
}
.merits__statistic-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
}
.merits__statistic-box span {
  font-size: 36px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.merits__statistic-box p:not(:last-child) {
  margin-bottom: 40px;
}
.merits__number1::before {
  content: "";
  background-image: url(../img/flag-about.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
}
.merits__number2::before {
  content: "";
  background-image: url(../img/bag-about.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
}
.merits__number3::before {
  content: "";
  background-image: url(../img/star-about.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
}

@media (min-width: 992px) {
  .merits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .merits__text-box {
    width: 60%;
    padding-right: 30px;
  }
  .merits__text-box h2 {
    font-size: 38px;
  }
  .merits__statistic-box {
    width: 40%;
  }
}
.team {
  width: 100%;
}

.team__pic {
  display: block;
  width: 100%;
  height: auto;
}

.quality {
  margin-top: 60px;
  margin-bottom: 60px;
}
.quality__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.quality__box h2 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}
.quality__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.quality__text-box p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.57em;
}
.quality__text-box p:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .quality__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quality__box h2 {
    font-size: 38px;
    margin-top: 0;
    width: 40%;
  }
  .quality__text-box {
    width: 60%;
    padding-right: 30px;
  }
}
.achievements {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
}
.achievements h3 {
  text-align: center;
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.achievements__slider {
  margin-top: 30px;
}
.achievements__slider-item {
  padding: 24px;
  background-color: #FFF;
  border-radius: 12px;
  margin: 0 20px;
}
.achievements__slider-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
