.footer {
    background-color: #F5F5FA;
    &__box {
        padding: 30px 0;
        border-top: 2px solid #E6E6F0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__adress {
        color: #323264;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__map {
        color: #24A3FF;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 20px;
    }
    &__tel {
        color: #46466E;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        margin: 10px 0;
    }
    &__mail {
        color: #24A3FF;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 30px;
    }
    &__company {
        color: #B3B3BA;
        font-size: 16px;
        font-weight: 400;
    }
}

@media (min-width: 768px) {
    .footer {
        &__box {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: max-content min-content;
        }
        &__company {
            grid-column: 3;
            grid-row: 1;
        }
        &__adress {
            margin: 0;
        }
        &__adress::after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #B3B3BA;
            margin: 0 6px;
        }  
        &__map {
            margin: 0;
        }
        &__tel {
            margin: 0;
        }
        &__mail {
            margin: 0;
        }
    }
}



    // .footer {
    //     &__box {
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //     }
    //     &__adress {
    //         order: 1;
    //         margin: 0;
    //         display: flex;
    //         align-items: center;
    //     }
    //     &__adress::after {
    //         content: '';
    //         width: 6px;
    //         height: 6px;
    //         border-radius: 50%;
    //         background-color: #B3B3BA;
    //         margin: 0 6px;
    //     }   
    //     &__map {
    //         order: 2;
    //         margin: 0;
    //     }
    //     &__company {
    //         order: 3;
    //         margin: 0;
    //         margin-left: 91px;
    //     }
    //     &__fb {
    //         order: 4;
    //         margin: 0;
    //     }
    //     &__tel {
    //         order: 5;
    //         margin: 0;
    //     }
    //     &__mail {
    //         order: 6;
    //         margin: 0;
    //     }
    // }