.slider-box {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    &__slider {
        display: flex;
    }
    &__categories {
        color: #B3B3BA;
        font-size: 30px;
        font-weight: 700;
        white-space: nowrap;
    }
    &__text-box {
        margin-top: 30px;
        border-top: 4px solid rgba(255, 255, 255, 0.30);
    }
    &__title {
        color:#FFF;
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
        align-self: stretch;
    }
    &__text {
        color: #FFF;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.57em;
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .slider-box {
        &__text-box {
            margin-top: 60px;
        }
        &__title {
            margin-top: 60px;
        }
    }
}

@media (min-width: 992px) {
    .slider-box {
        &__pc-box {
            display: flex;
        }
        &__slider {
            flex-direction: column;
            align-items: flex-end;
            margin-right: 60px;
        }
        &__text-box {
            margin-top: 0;
            border-top: 0;
            border-left: 4px solid rgba(255, 255, 255, 0.30);
            padding-left: 60px;
        }
        &__title {
            margin-top: 0;
        }
        &__item {
            &:not(:last-child) {
            margin-bottom: 30px;
            }
        }
    }
}
